<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="Paper Hero, a mobile game">
  <meta name="keywords" content="Paper Hero, IOS, Android, Paper Boy, Newspaper">
  <meta name="author" content="Alexandre Mondaini Calvão">

  <title>Paper Hero</title>
  <link rel="stylesheet" href="./stylecheet/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container" style="width:960px;">

    <div id="top-bar" class="row">
      <div class="col-md-6">
        <!-- <%= image_tag "logo.png", width: "200" %> -->
        <img src="img/logo.png" alt="logo image" style="width: 200px;">
      </div>
      <div class="col-md-6">
        <ul class="menu">
          <!-- <li><%= image_tag "screenshot.png" %></li>
          <li><%= image_tag "download.png" %></li>
          <li><%= image_tag "contact.png" %></li> -->
          <li> <a href="#screenshots"><img src="img/screenshot.png" alt="screenshot"></a></li>
          <li><a href="#download"> <img src="img/download.png" alt="download"> </a></li>
          <li><a href="#contact"> <img src="img/contact.png" alt="contact"> </a></li>


        </ul>
      </div>
    </div>
    <div class="row" style="text-align: center">
      <iframe width="853" height="480" src="https://www.youtube.com/embed/pX-UymX0gXg" frameborder="0" allowfullscreen></iframe>
    </div>
    <div id="screenshots" class="row text-center">
      <div class="col-md-12">
        <!-- <%= image_tag "screenshots_big.png" %> -->
        <img src="img/screenshots_big.png" alt="screenshots">
      </div>
      <div class="col-md-6">
        <!-- <%= image_tag "screenshot_1.png" %> -->
        <img src="img/screenshot_1.png" alt="screenshot">
      </div>
      <div class="col-md-6">
        <!-- <%= image_tag "screenshot_3.png" %> -->
        <img src="img/screenshot_3.png" alt="screenshot">

      </div>
      <div class="col-md-6">
        <!-- <%= image_tag "screenshot_2.png" %> -->
        <img src="img/screenshot_2.png" alt="screenshot">

      </div>
      <div class="col-md-6">
        <!-- <%= image_tag "screenshot_4.png" %> -->
        <img src="img/screenshot_4.png" alt="screenshot">

      </div>
    </div>
    <div id="download" class="row text-center">
      <div class="col-md-12 title">
        <!-- <%= image_tag "donwload_big.png" %> -->
        <img src="img/donwload_big.png" alt="download">
      </div>
      <div class="col-md-6">
        <a href="https://itunes.apple.com/us/app/paper-hero-new-adventures/id1111118014" target="_blank" >
          <!-- <%= image_tag "app_store.png" %> -->
          <img src="img/app_store.png" alt="app store">
        </a>
      </div>
      <div class="col-md-6">
        <a href="https://play.google.com/store/apps/details?id=com.moca.paperhero" target="_blank" >
          <!-- <%= image_tag "play_store.png" %> -->
          <img src="img/play_store.png" alt="play store">
        </a>
      </div>
    </div>
    <div id="contact" class="row text-center">
      <div class="col-md-12 title">
        <!-- <%= image_tag "contact_big.png" %> -->
        <img src="img/contact_big.png" alt="contact">
      </div>
      <script type="text/javascript">var servicedomain="www.123contactform.com"; var frmRef=''; try { frmRef=window.top.location.href; } catch(err) {}; var cfJsHost = (("https:" == document.location.protocol) ? "https://" : "http://"); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/includes/easyXDM.min.js' type='text/javascript'%3E%3C/script%3E")); frmRef=encodeURIComponent(frmRef.replace(/(<([^>]+)>)/ig,'')).replace('%26','[%ANDCHAR%]'); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/jsform-2099572.js?ref="+frmRef+"' type='text/javascript'%3E%3C/script%3E")); </script>

    </div>
    <div id="social" class="row text-center">
      <div class="col-md-12 title">
        <!-- <%= image_tag "social_big.png" %> -->
        <img src="img/social_big.png" alt="social">
      </div>
      <div class="col-md-12">
        <!-- <%= image_tag "facebook_icon.png" %>
        <%= image_tag "twitter_icon.png" %> -->
        <img src="img/facebook_icon.png" alt="facebook">
        <img src="img/twitter_icon.png" alt="twitter">
      </div>
    </div>
  </div>
</body>
</html>
